<!DOCTYPE html>
<html>
  <head>
    <title>Your Webpage</title>
    <link rel="stylesheet" type="text/css" href="static/css/style1.css" />
  </head>
  <body>
    <section class="blue-section">
      <div class="yellow-banner">
        <div class="logo">
          <img src="static/webimage/FullLogo_NoBuffer.png" alt="Logo" />
        </div>
        <div class="banner-text">
          <p>ErgonAlzed</p>
        </div>
        <div id="top-nav">
          <a href="home.html" class="active">Home</a>
          <a href="team.html">Research Team</a>
          <a href="#demo" id="secondTopNav">Project Demo</a>
        </div>
        <div class="subnav" id="subnav1">
          <a href="parent2/lenning.html">50<sup>th</sup>percentile</a>
          <a href="parent1/lenning.html">95<sup>th</sup>percentile</a>
        </div>
      </div>
      <div class="main-content">
        <p class="main-centered-text">AI-Empowered Digital Human Modeling</p>
        <div class="main-logo">
          <img src="static/webimage/FullLogo.png" alt="Main Logo" />
          <p class="logo-text">
            Revolutionizing Occupational Safety Improving Exoskeleton Design for
            Injured Workers
          </p>
        </div>
      </div>
    </section>

    <div class="white-banner"></div>

    <section class="blue-bottom-section">
      <div class="contact-info">
        <li>
          <a class="contact-item">
            <img src="static/webimage/phone_icon.png" alt="Phone Icon" />
            Call: 313-583-6416
          </a>
        </li>
        <li>
          <a class="contact-item">
            <img src="static/webimage/email.png" alt="Email Icon" />
            Contact: bochenj@umich.edu
          </a>
        </li>
        <li>
          <a class="contact-item">
            <img src="static/webimage/follow.png" alt="Follow Icon" />
            Follow us
          </a>
        </li>
        <li><a class="copywriter"> &copy; 2023 ErgonAlzed </a></li>
      </div>
    </section>
    <script src="static/js/main.js"></script>
  </body>
</html>
