<!DOCTYPE html>
<html>
  <head>
    <title>Your Webpage</title>
    <link rel="stylesheet" type="text/css" href="/static/css/style1.css" />
  </head>
  <body>
    <section class="blue-section">
      <div class="yellow-banner">
        <div class="logo">
          <img src="/static/webimage/FullLogo_NoBuffer.png" alt="Logo" />
        </div>
        <div class="banner-text">
          <p>ErgonAlzed</p>
        </div>
        <div id="top-nav">
          <a href="/main" class="active">Home</a>
          <a href="/team">Research Team</a>
          <a href="#demo" id="secondTopNav">Project Demo</a>
        </div>
        <div class="subnav" id="subnav1">
          <a href="/parent2/lenning">50<sup>th</sup>percentile</a>
          <a href="/parent1/lenning">95<sup>th</sup>percentile</a>
        </div>
      </div>
      <div class="main-content">
        <p class="main-centered-text">AI-Empowered Digital Human Modeling</p>
        <div class="main-logo">
          <img src="/static/webimage/FullLogo.png" alt="Main Logo" />
          <p class="logo-text">
            Revolutionizing Occupational Safety Improving Exoskeleton Design for
            Injured Workers
          </p>
        </div>
      </div>
    </section>

    <section class="scroll-section">
      <!-- Add your background image here -->
      <div class="text-section">
        <h1>About the Project</h1>
        <p>
          Our pioneering project harnesses the potential of AI-empowered Digital
          Human Models, integrating cutting-edge technologies like computer
          vision, to revolutionize exoskeleton design for workers returning to
          their jobs after injuries. By creating precise and dynamic digital
          representations of individuals, our approach allows for tailored
          exoskeleton customization, ensuring ergonomic support and improved
          biomechanics. We're shaping the future of rehabilitation, with
          AI-driven DHMs at the forefront, enabling safer and more effective
          return-to-work strategies for individuals with previous injuries. Join
          us in redefining workplace safety and worker well-being through this
          transformative project.
        </p>
        <div class="text-section2">
          <p>Key Features</p>
          <div class="grid-container">
            <div class="grid-item">AI in Digital Human Modeling</div>
            <div class="grid-item1">
              Discover how AI-driven DHMs employ computer vision and other AI
              techniques to create accurate and dynamic digital representations
              of individuals, accounting for their unique anatomical and
              physiological attributes.
            </div>
            <div class="grid-item">Exoskeleton Design and Customization</div>
            <div class="grid-item1">
              Learn how AI-empowered DHMs are leveraged to customize
              exoskeletons to the specific needs and physical limitations of
              workers with previous injuries.
            </div>
            <div class="grid-item">Advance Analysis</div>
            <div class="grid-item1">
              Explore how AI technology aids in real-time biomechanical
              analysis, ensuring that exoskeletons are ergonomically designed to
              support and enhance natural movements.
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="white-banner"></div>

    <section class="blue-bottom-section">
      <div class="contact-info">
        <li>
          <a class="contact-item">
            <img src="/static/webimage/phone_icon.png" alt="Phone Icon" />
            Call: 313-583-6416
          </a>
        </li>
        <li>
          <a class="contact-item">
            <img src="/static/webimage/email.png" alt="Email Icon" />
            Contact: bochenj@umich.edu
          </a>
        </li>
        <li>
          <a class="contact-item">
            <img src="/static/webimage/follow.png" alt="Follow Icon" />
            Follow us
          </a>
        </li>
        <li><a class="copywriter"> &copy; 2023 ErgonAlzed </a></li>
      </div>
    </section>
    <script src="/static/js/main.js"></script>
  </body>
</html>
