<!DOCTYPE html>
<html>
  <head>
    <title>Your Webpage</title>
    <link rel="stylesheet" type="text/css" href="./../static/css/style1.css" />
  </head>
  <body>
    <section class="blue-section">
      <div class="yellow-banner">
        <div class="logo">
          <img src="./../static/webimage/FullLogo_NoBuffer.png" alt="Logo" />
        </div>
        <div class="banner-text">
          <p>ErgonAlzed</p>
        </div>
        <div id="top-nav">
          <a href="home.html">Home</a>
          <a href="team.html" class="active">Research Team</a>
          <a href="#demo" id="secondTopNav">Project Demo</a>
        </div>
        <div class="subnav" id="subnav1">
          <a href="parent2/lenning.html">50<sup>th</sup>percentile</a>
          <a href="parent1/lenning.html">95<sup>th</sup>percentile</a>
        </div>
      </div>
      <div class="main-content2"></div>
    </section>

    <section class="scroll-section2">
      <!-- Add your background image here -->
      <div class="text-section3">
        <h1>Project Team</h1>
        <hr
          style="
            height: 1px;
            width: 5%;
            text-align: center;
            color: rgb(106, 79, 79);
            background-color: rgb(221, 250, 30);
          "
        />

        <div class="team-members">
          <div class="team-member">
            <img
              src="./../static/webimage/bochenj_photo_2023_edited_edited.jpg"
              alt="Team Member 1"
            />
            <div class="title">Associate Professor</div>
            <div class="name">Bochen Jia</div>
            <div class="biography">
              Dr. Bochen Jia is an Associate Professor at the University of
              Michigan-Dearborn, and his research focuses on occupational issues
              related to worker capacity changes due to modern risk factors. He
              is currently working on quantifying the impacts of exoskeletons on
              worker performance and safety using digital human modeling
              technology. He is particularly interested in understanding the
              ability and limitations of human modeling technology in assessing
              various human-exoskeleton interactions. Dr. Jia is currently
              working as a task-group leader at ASTM International Standards
              Organization to lead the efforts of establishing a practice to
              guide the proper use of digital human models in the design and
              evaluation of exoskeleton devices in both occupational and
              nonoccupational settings. Armed with strong research advantages
              for the automobile industry in Michigan, his research efforts also
              extend to ergonomic issues associated with occupant behaviors
              under complex driving conditions with advanced technologies, such
              as connected and autonomous vehicle technologies. He is working on
              understanding occupants’ in-vehicle physical activities during
              prolonged driving.
            </div>
            <div class="social-icons">
              <a href="#" class="facebook-icon"
                ><img
                  src="./../static/webimage/facebook.png"
                  alt="facebook-icon"
              /></a>
              <a href="#" class="twitter-icon"
                ><img
                  src="./../static/webimage/twiiters.png"
                  alt="twitter-icon"
              /></a>
              <a
                href="https://www.linkedin.com/in/bochenjia/"
                class="linkedin-icon"
                ><img src="./../static/webimage/linkde.png" alt="linkedin-icon"
              /></a>
            </div>
          </div>

          <div class="team-member">
            <img src="./../static/webimage/Dara.jpeg" alt="Team Member 2" />
            <div class="title">PhD Student</div>
            <div class="name">Jesudara Omidokun</div>
            <div class="biography">
              At the University of Michigan-Dearborn, Jesudara, a prospective
              PhD student, conducts research on computer vision as a tool for
              biomechanical analysis. He is currently employed by Hitachi
              America as an intern for their connected vehicle R&D division. He
              is currently interested in using computer vision techniques to
              examine various human-exoskeleton interactions in order to
              comprehend the potential and constraints of human modeling
              technology.
            </div>
            <div class="social-icons">
              <a href="#" class="facebook-icon"
                ><img
                  src="./../static/webimage/facebook.png"
                  alt="facebook-icon"
              /></a>
              <a href="#" class="twitter-icon"
                ><img
                  src="./../static/webimage/twiiters.png"
                  alt="twitter-icon"
              /></a>
              <a
                href="https://www.linkedin.com/in/jesudara-omi1/"
                class="linkedin-icon"
                ><img src="./../static/webimage/linkde.png" alt="linkedin-icon"
              /></a>
            </div>
          </div>

          <div class="team-member">
            <img
              src="./../static/webimage/Darlington.jpeg"
              alt="Team Member 3"
            />
            <div class="title">PhD Student</div>
            <div class="name">Darlington Egeonu</div>
            <div class="biography">
              Darlington Egeonu is presently a doctoral student in Industrial
              and Manufacturing Systems Engineering at the University of
              Michigan Dearborn. His research interests center on employing
              digital human modeling and computer vision technology to simulate
              the application of exoskeleton devices, which offer support for
              injured and recovering workers. Additionally, his research extends
              to the field of ergonomic risk assessment, where he is developing
              a comprehensive strategy for the timely and non- invasive
              evaluation of physical workloads in the workplace, utilizing AI
              technology.
            </div>
            <div class="social-icons">
              <a href="#" class="facebook-icon"
                ><img
                  src="./../static/webimage/facebook.png"
                  alt="facebook-icon"
              /></a>
              <a href="#" class="twitter-icon"
                ><img
                  src="./../static/webimage/twiiters.png"
                  alt="twitter-icon"
              /></a>
              <a
                href="https://www.linkedin.com/in/darlington-egeonu/"
                class="linkedin-icon"
                ><img src="./../static/webimage/linkde.png" alt="linkedin-icon"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="white-banner"></div>

    <section class="blue-bottom-section">
      <div class="contact-info">
        <li>
          <a class="contact-item">
            <img src="./../static/webimage/phone_icon.png" alt="Phone Icon" />
            Call: 313-583-6416
          </a>
        </li>
        <li>
          <a class="contact-item">
            <img src="./../static/webimage/email.png" alt="Email Icon" />
            Contact: bochenj@umich.edu
          </a>
        </li>
        <li>
          <a class="contact-item">
            <img src="./../static/webimage/follow.png" alt="Follow Icon" />
            Follow us
          </a>
        </li>
        <li><a class="copywriter"> &copy; 2023 ErgonAlzed </a></li>
      </div>
    </section>
    <script src="./../static/js/main.js"></script>
  </body>
</html>
